doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title myWeb
        link(rel="stylesheet", href="/style.css")
    body
         nav
            img(src='https://www.vineh.art/wp-content/themes/wp-vineh/dist/theme/images/header_logo_v2.min.png' alt='وینه')
            a(href='/') خانه
            a(href='/login') ورورد / ثبت نام
            a(href='/') آثار
            a(href='/weblog') وبلاگ
            a(href='/contact-us') ارتباط با ما
        block content
        